<form [formGroup]="exForm">
    <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Enter Amount" (blur)="transformAmount()" formControlName= "amount" autocomplete="off" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Enter Age" type="number" formControlName= "age" autocomplete="off" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput name="jqueryDate" [matDatepicker]="picker" placeholder="mm/dd/yyyy" #pickerInput formControlName="sampleDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</form>
<button [disabled]="exForm.invalid"
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
>Submit</button>
