<form [formGroup]="exForm">
    <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Enter Amount" (blur)="transformAmount()" formControlName= "amount" autocomplete="off" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Enter Age" type="number" formControlName= "age" autocomplete="off" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="dp" formControlName="sampleDate" placeholder="mm/dd/yyyy" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker"></mat-datepicker>
    </mat-form-field>
</form>
<button [disabled]="exForm.invalid"
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
>Submit</button>